* {
    box-sizing: border-box;
    
    
}

body {
    width: 100%;
    background-color:#ffffff;
    background-image: url('../images/backgroundLowRes.jpg');
    background-size: cover;
    background-position: center;
}

body{
    margin: 0;
}

#backgroundImage {
    max-width: 1em;
}

#textCenter {
    text-align: center;
}

.card {
    border-style: none;
    background-color: antiquewhite;
}

#searchBar {
    width: 100%;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    opacity: 0.5;
    border-radius: 2em;
    padding: 10px;
    overflow: hidden;
    display: flex;
    height: 4em;
    z-index: 1;
}

#searchIcon, #searchInput {
    padding-top: 0.3125em;
    padding-bottom: 0.3125em;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    border-radius: 0.15em;
}

#searchForm, #searchButton {
    padding: 0;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;

}

/* #searchIcon{
    margin-right: 1em;
    margin-left: 1em;
    width: 0.2em;
    height: auto;
} */

#searchPNG {
    height: 50px;
    width: auto;
    padding: 0;
    /* margin-right: 10px; */
}


.main {
    display: inline-block;
    width: 33.3%;
    justify-content: center;
}

img {
    width: 100%;
    overflow: hidden;
    padding: 1em;
    border-radius: 1em;
}

h5 {
    margin: 0 auto;
    text-align: center;
    font-size: 25;
    font-weight: bold;
    font-family: monospace;
    padding: 1em;
    color: goldenrod;
}

.grid {
    background-color: whitesmoke;
    border-radius: 2em;
}



.card-title {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.card-body {
    padding: 0;
}

#sidebar {
    /*side bar dimensions*/
    min-width: 15.6em;
    max-width: 15.6em;
    min-height: 100vh;
    margin-left: -15.6em;
    position: absolute;
    z-index: 10;
}

.menuItems {
    /*contains the menu items on side bar*/
    display: flex;
    flex-direction: column;
    height: 20em;
    padding: 0;
    justify-content: space-between;
    text-align: center;
}

#toggler {
    /*flex box for main container*/
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 1em;
    z-index: 1;
}

.pullChevron {
    /*dynamically align chevron to center using flexbox*/
    font-size: 2em;
    cursor: pointer;
}

#userAuth {
    height: 100%;
    padding: 1em;
}

#userPhoto {
    height: 100%;
    border: 1px solid black;
}

#profile {
    border-radius: 20em;
    height: 3.4em;
}

.popover {
    margin-right: 2em;
}

#sidebar.active {
    margin-left: 0em;
    position: absolute;
}

#sidebar.active #toggler .pullChevron {
    position: relative;
    margin: 0;
    color: white;
}

a, a:hover, a:focus {
    /*styling of sidebar anchor elements*/
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /*side bar color and transition property*/
    background: #f8f8f8;
    color: #777777;
    transition: all 0.3s;
}

.sidebar-header {
    /*sidebar padding for logo*/
    padding: 3em;
    text-align: center;
    border-bottom: 1px #e5e5e5 solid;
}

#sidebar ul li a {
    /*side bar style*/
    padding: 0.625em;
    font-size: 1.3em;
    display: block;
}

#sidebar ul li {
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px #e5e5e5 solid;
}

#sidebar ul li a:hover {
    /*color on hover*/
    color: #4c8cd6
}

#logoDiv {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    padding-top: 15px;
    color: black;
}